@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-border {
    0% {
      border-color: #f87171;
    }
    25% {
      border-color: #facc15;
    }
    50% {
      border-color: #34d399;
    }
    75% {
      border-color: #60a5fa;
    }
    100% {
      border-color: #f87171;
    }
  }
  
  .animate-gradient-border {
    animation: gradient-border 3s linear infinite;
  }
  