@font-face {
    font-family: 'danger';
    src: url('../fonts/AnotherDanger.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eater';
    src: url('../fonts/Eater-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.titulo {
    font-family: 'danger', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 0.5rem;
}
.tituloh5, .fuente{
    font-family: 'eater', sans-serif;
    font-size: 1.8rem;
    text-align: center;
    color: #000;
}

.puntuacion {
    font-family:'eater' ,sans-serif;
    font-size: 1.5rem;
    color: #000;
    margin-top: 20px;
}